//! **************************************************************************
// Written by: Map P.20131013 on Fri Dec 24 23:36:42 2021
//! **************************************************************************

SCHEMATIC START;
NET "CLOCK_50_BUFGP/IBUFG" BEL "CLOCK_50_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

