//! **************************************************************************
// Written by: Map P.20131013 on Fri Dec 31 17:36:13 2021
//! **************************************************************************

SCHEMATIC START;
NET "clock_BUFGP/IBUFG" BEL "clock_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

